@charset "utf-8";
/* CSS Document */
body {
	background-color:#67B0D5;   /* background color */ 
	color: #444;          /* text color for the entire document */
	font-size: 15px;
	font-family:Verdana, Geneva, sans-serif;
	text-align: center;
	padding: 15px;
margin: 3px;
}
a:hover {
	font-size:200%;
	background-color: black; 
	color: palevioletred; 
}
#wrapper {
	width:900px; height:500px;
	margin:0 auto;         /* centers wrapper */
 	text-align:center;
	background-color: rgba(255, 255, 255, 0.8);  /* creates white background with 80% opacity */
}
table {
	margin:0 auto;  /* centers table*/
}

td {
	background-color: white;  /* sets background color for table cells*/
}

h1, h2 { 
	text-align:center;     /* centers h1 and h2 content */
}

audio { 
	width:300px;   /* sets the width of the audio controls */
}
video {
	width:300px;
	margin:0 auto;
	text-align:center;
}

