/* CSS Document */
/* All comments go between the front slash and asterisk symbols */

body {
	background-color:#67B0D5;   /* background color */ 
	color: #444;          /* text color for the entire document */
	font-size: 15px;
	font-family:Rubik, Merriweather, Lato;
	text-align: center;
	padding: 15px;
margin: 3px;
}

h1, h2 { 
	text-align:center; padding-top: 20px;     /* centers h1 and h2 content */image-align:center;
color:#020202}
h2 {font: italic}

/* styles for the "wrapper" div, notice that "wrapper" is preceded by "#" */
#wrapper {
	width: 85%;
	margin: auto;    /* centers wrapper */
}

/* styles for the "stepTitle" class, notice that "stepTitle" is preceded by a dot */
.stepTitle{
	padding:10px;
	text-align:left;
	background-color:#FAADE6;
	font-weight: bold;
	font-size: 150%;
 }

.stepContent{ 
	background-color: white;
	padding:7px;
	display: flex;
	flex-wrap:wrap;
	justify-content: left;
}

.stepDescription {
	width:55%;
	padding:5px;
	line-height:145%; text-align:left;
}

.stepImage {
	width:40%;	
	padding:5px;
	text-align: center;
}

.stepImage img {
    width:100%;
    height:400px;
}

strong {
  font-weight: 800;
}
.warning {
		background-color: #FAF92C;
		padding:10px;
		border-radius:20px;
	}
a {align-content: center; word-wrap: break-word; color:#050505;
	font-size: 14px;
	background-color:#D3B90B;       margin: 0;
      padding: 12px;
      display: inline-flex; /* Align items horizontally */
      justify-content: center; font-weight: bold;list-style: none;text-decoration: none;}
a:hover {
	font-size:200%;
	background-color: black; 
	color: palevioletred; 
}
